@import '../../variables';

.root {
  min-height: 100vh;
  background: linear-gradient(180deg, $third 0%, $primary 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contentWrap {
  display: flex;
  align-items: center;
}

.contentText h1 {
  font-family: Karla;
  font-style: normal;
  font-size: 72px;
  line-height: 84px;
  letter-spacing: 4px;
  font-weight: normal;
}
.contentText b {
  font-family: Karla;
  font-style: normal;
  font-size: 72px;
  line-height: 84px;
  letter-spacing: 4px;
  font-weight: bold;
}
.contentText p {
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
}

.contentParallax {
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: -6.92%;
}
