.root {
  position: absolute;
  left: 11.11%;
  right: 10.76%;
  top: 95.21%;
  bottom: 2.64%;
}
.signature {
  position: relative;
  width: 144px;
  right: 0px;
  top: -13.64%;
  bottom: -13.64%;
}

h4 {
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
}
